
 <%- include("partials/header")  -%> 
<div class="box" id="heading">
 <h1>At foo bar🍸</h1>
		
		</div>

		<div class="box">
		
    			<% let itemname = item.name.charAt(0).toUpperCase() + item.name.slice(1).toLowerCase()%>
				<h2 class="item"><%= itemname %></h2>
    <img src=<%= item.image %> alt="">
    <h3>Price: $<%= item.price %></h3>

  </div>

   <%- include("partials/footer")  -%> 
